<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_plot_surface">
	<information>
		<name>Charting : Surfaces</name>
		<name xml:lang="ast">Diagrama: Superficies</name>
		<name xml:lang="cs">Sestavování grafů : povrchové</name>
		<name xml:lang="da">Diagrammer : Overflader</name>
		<name xml:lang="de">Diagrammdarstellung : Oberflächen</name>
		<name xml:lang="en_GB">Charting : Surfaces</name>
		<name xml:lang="es">Gráfico: Superficies</name>
		<name xml:lang="eu">Diagramak : Gainazalak</name>
		<name xml:lang="fi">Piirto: pinnat</name>
		<name xml:lang="fr">Graphe : surfaces</name>
		<name xml:lang="sl">Diagrami: površinski</name>
		<description>Surface charts</description>
		<description xml:lang="ast">Diagrames de superficie</description>
		<description xml:lang="ca">Gràfics de superfície</description>
		<description xml:lang="ca@valencia">Gràfics de superfície</description>
		<description xml:lang="cs">Povrchové grafy</description>
		<description xml:lang="da">Overfladediagrammer</description>
		<description xml:lang="de">Oberflächendiagramme</description>
		<description xml:lang="en_CA">Surface charts</description>
		<description xml:lang="en_GB">Surface charts</description>
		<description xml:lang="es">Diagramas de superficie</description>
		<description xml:lang="eu">Gainazal-diagramak</description>
		<description xml:lang="fi">Pintakuvaajat</description>
		<description xml:lang="fr">Tracés de surfaces</description>
		<description xml:lang="it">Grafici superficie</description>
		<description xml:lang="ja">等高線グラフ</description>
		<description xml:lang="nl">Oppervlakgrafieken</description>
		<description xml:lang="pt_BR">Gráficos de superfície</description>
		<description xml:lang="ru">Диаграммы поверхностей</description>
		<description xml:lang="sl">Površinski diagrami</description>
		<description xml:lang="sv">Ytdiagram</description>
		<description xml:lang="vi">Sơ đồ mặt</description>
		<description xml:lang="zh_CN">表面图</description>
		<description xml:lang="zh_HK">表面圖表</description>
		<description xml:lang="zh_TW">表面圖表</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="surface" name="module_file"/>
	</loader>
	<services>
		<service type="plot_engine" id="GogContourPlot">
			<information>
				<description>Contour plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de contornos</description>
				<description xml:lang="ca">Motor de traçador de contorn</description>
				<description xml:lang="ca@valencia">Motor de traçador de contorn</description>
				<description xml:lang="cs">Generování vrstevnicového diagramu</description>
				<description xml:lang="da">Konturplotningsmotor</description>
				<description xml:lang="de">Konturgraph-Engine</description>
				<description xml:lang="en_CA">Contour plotting engine</description>
				<description xml:lang="en_GB">Contour plotting engine</description>
				<description xml:lang="es">Motor de dibujo de contornos</description>
				<description xml:lang="eu">Ingeradak marrazteko motorra</description>
				<description xml:lang="fi">Korkeuskäyrän piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de lignes de niveaux</description>
				<description xml:lang="it">Motore tracciati contorno</description>
				<description xml:lang="ja">等高線プロットエンジン</description>
				<description xml:lang="lt">Kontūrų braižymo sistema</description>
				<description xml:lang="nl">Contourgrafiek-module</description>
				<description xml:lang="pt_BR">Mecanismo de plotar contornos</description>
				<description xml:lang="sl">Programnik izrisa obrisnega diagrama</description>
				<description xml:lang="sv">Konturdiagramsritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ đường viền</description>
				<description xml:lang="zh_CN">轮廓绘图引擎</description>
				<description xml:lang="zh_HK">輪廓繪製引擎。</description>
				<description xml:lang="zh_TW">輪廓繪製引擎。</description>
			</information>
		</service>
		<service type="plot_engine" id="XLContourPlot">
			<information>
				<description>Excel (TM) compatibility contour plotting engine</description>
			</information>
		</service>
		<service type="plot_engine" id="GogXYZContourPlot">
			<information>
				<description>XYZ contour plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de contornos XYZ</description>
				<description xml:lang="cs">Generování vrstevnicových XYZ diagramů</description>
				<description xml:lang="da">XYZ-konturplotningsmotor</description>
				<description xml:lang="de">XYZ Konturdarstellungs-Engine</description>
				<description xml:lang="en_GB">XYZ contour plotting engine</description>
				<description xml:lang="es">Motor de dibujo de contornos XYZ</description>
				<description xml:lang="eu">XYZ ingerada marrazteko motorra</description>
				<description xml:lang="fi">XYZ-korkeuskäyrän piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de tracé de lignes de niveaux XYZ</description>
				<description xml:lang="sl">Programnik izrisa obrisnega XYZ diagrama</description>
			</information>
		</service>
		<service type="plot_engine" id="GogSurfacePlot">
			<information>
				<description>Surface plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de superficies</description>
				<description xml:lang="cs">Generování povrchových diagramů</description>
				<description xml:lang="da">Overfladeplotningsmotor</description>
				<description xml:lang="de">Oberflächengraph-Engine</description>
				<description xml:lang="en_GB">Surface plotting engine</description>
				<description xml:lang="es">Motor de dibujo de superficies.</description>
				<description xml:lang="eu">Gainazalak marrazteko motorra</description>
				<description xml:lang="fi">Pintakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de surfaces</description>
				<description xml:lang="sl">Programnik izrisa površinskih diagramov</description>
			</information>
		</service>
		<service type="plot_engine" id="XLSurfacePlot">
			<information>
				<description>Excel (TM) compatibility surface plotting engine</description>
			</information>
		</service>
		<service type="plot_engine" id="GogXYZSurfacePlot">
			<information>
				<description>XYZ surface plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de superficies XYZ</description>
				<description xml:lang="cs">Generování povrchových XYZ diagramů</description>
				<description xml:lang="da">XYZ-overfladeplotningsmotor</description>
				<description xml:lang="de">XYZ Oberflächendarstellungs-Engine</description>
				<description xml:lang="en_GB">XYZ surface plotting engine</description>
				<description xml:lang="es">Motor de dibujo de superficies XYZ</description>
				<description xml:lang="eu">XYZ gainazala marrazteko motorra</description>
				<description xml:lang="fi">XYZ-pintakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de tracé de surfaces XYZ</description>
				<description xml:lang="sl">Programnik izrisa površinskega XYZ diagrama</description>
			</information>
		</service>
		<service type="plot_type" id="surface">
			<file>plot-types.xml</file>
			<information>
				<description>Default surface plot types</description>
				<description xml:lang="ast">Tribes de gráfiques de superficie predeterminaes</description>
				<description xml:lang="ca">Tipus de traçat de superfície per defecte</description>
				<description xml:lang="ca@valencia">Tipus de traçat de superfície per defecte</description>
				<description xml:lang="cs">Výchozí typy povrchových diagramů</description>
				<description xml:lang="da">Standardtyper for overfladeplot</description>
				<description xml:lang="de">Vorgabe-Oberflächengraphtypen</description>
				<description xml:lang="en_CA">Default surface plot types</description>
				<description xml:lang="en_GB">Default surface plot types</description>
				<description xml:lang="es">Tipos de gráficas de superficie predeterminadas</description>
				<description xml:lang="eu">Gainazal-diagrama mota lehenetsiak</description>
				<description xml:lang="fi">Pintakuvaajien oletustyypit</description>
				<description xml:lang="fr">Type de dessin de surfaces par défaut</description>
				<description xml:lang="it">Tipi di tracciati di superfice predefiniti</description>
				<description xml:lang="nl">Standaard oppervlakgrafiek-types</description>
				<description xml:lang="pt_BR">Tipos padrão de gráfico de superfície</description>
				<description xml:lang="sl">Privzete vrste površinskih diagramov</description>
				<description xml:lang="sv">Standard ytgraftyper</description>
				<description xml:lang="vi">Kiểu đồ thị vẽ mặt mặc định</description>
				<description xml:lang="zh_CN">默认表面绘图类型</description>
				<description xml:lang="zh_HK">預設表面繪製引擎。</description>
				<description xml:lang="zh_TW">預設表面繪製引擎。</description>
			</information>
		</service>
	</services>
</plugin>