[Desktop Entry]
Version=1.0
Type=Application
Name=Midori
Name[ar]=ميدوري
Name[ast]=Midori
Name[be]=Midori
Name[ca]=Midori
Name[cs]=Midori
Name[da]=Midori
Name[de]=Midori
Name[el]=Μιντόρι
Name[en_GB]=Midori
Name[eo]=Midori
Name[es]=Midori
Name[et]=Midori
Name[eu]=Midori
Name[fi]=Midori
Name[fr]=Midori
Name[gl]=Midori
Name[he]=Midori
Name[hr]=Midori
Name[hu]=Midori
Name[id]=Midori
Name[it]=Midori
Name[ja]=Midori
Name[ko]=미도리
Name[lt]=Midori
Name[nl]=Midori
Name[no]=Midori
Name[pa]=ਮੀਡੋਰੀ
Name[pl]=Przeglądarka internetowa Midori
Name[pt]=Midori
Name[pt_BR]=Midori
Name[ro]=Midori
Name[ru]=Midori
Name[sk]=Midori
Name[sr]=Мидори
Name[sr@latin]=Midori
Name[sv]=Midori
Name[tr]=Midori
Name[ug]=Midori
Name[uk]=Мідорі
Name[zh_CN]=Midori 浏览器
Name[zh_TW]=Midori
GenericName=Web Browser
GenericName[ar]=متصفح الوب
GenericName[ast]=Restolador
GenericName[ca]=Navegador web
GenericName[cs]=Internetový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Internetbetrachter
GenericName[el]=Περιηγητής Ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web-arakatzailea
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[id]=Peramban Web
GenericName[it]=Browser web
GenericName[ja]=ウェブブラウザー
GenericName[ko]=웹 브라우저
GenericName[lt]=Žiniatinklio naršyklė
GenericName[nl]=Webbrowser
GenericName[no]=Nettleser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Navigator web
GenericName[ru]=Интернет-обозреватель
GenericName[sk]=Internetový prehliadač
GenericName[sr]=Интернет прегледник
GenericName[sr@latin]=Internet preglednik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач Веб
GenericName[zh_CN]=网络浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Browse the Web
Comment[ar]=تصفّح الإنترنت
Comment[ca]=Navega la web
Comment[cs]=Prohlížet internet
Comment[da]=Gennemse internettet
Comment[el]=Αναζήτηση στον Ιστό
Comment[en_GB]=Browse the Web
Comment[eo]=Retumi
Comment[es]=Navegue por la web
Comment[eu]=Arakatu sarea
Comment[fr]=Rechercher sur Internet
Comment[gl]=Buscar na rede
Comment[he]=גלישה באינטרנט
Comment[hr]=Pretraži web
Comment[hu]=A világháló böngészése
Comment[id]=Ramban Web
Comment[it]=Naviga nel web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹 찾아보기
Comment[lt]=Naršyti internete
Comment[nl]=Blader door het Web
Comment[pl]=Wyszukaj w sieci
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na Web
Comment[ro]=Navigați pe Internet
Comment[ru]=Работа в Интернете
Comment[sk]=Prehliadať internet
Comment[uk]=Переглянути Веб
Comment[zh_CN]=浏览网络
Comment[zh_TW]=瀏覽網頁
X-GNOME-Keywords=Internet;WWW;Explorer
X-GNOME-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-GNOME-Keywords[ca]=Internet;WWW;Explorador
X-GNOME-Keywords[cs]=Internet;WWW;Explorer
X-GNOME-Keywords[da]=Internet;WWW;Stifinder
X-GNOME-Keywords[de]=Internet;WWW;Explorer;Browser
X-GNOME-Keywords[en_GB]=Internet;WWW;Explorer
X-GNOME-Keywords[eo]=Interreto;TTT;Eksplorilo
X-GNOME-Keywords[es]=Internet;WWW;Explorer
X-GNOME-Keywords[gl]=Internet;WWW;Explorer
X-GNOME-Keywords[he]=אינטרנט;רשת;דפדפן
X-GNOME-Keywords[hr]=Internet;WWW;Explorer
X-GNOME-Keywords[hu]=Internet;WWW;Explorer
X-GNOME-Keywords[id]=Internet;WWW;Explorer
X-GNOME-Keywords[it]=Internet;WWW;Explorer
X-GNOME-Keywords[ja]=インターネット;WWW;エクスプローラー
X-GNOME-Keywords[ko]=인터넷;WWW;익스플로러
X-GNOME-Keywords[lt]=Internetas;WWW;Naršyklė
X-GNOME-Keywords[nl]=Internet;WWW;Verkenner
X-GNOME-Keywords[pl]=Internet;WWW;Explorer
X-GNOME-Keywords[pt]=Internet;WWW;Explorador
X-GNOME-Keywords[pt_BR]=Internet;WWW;Explorer
X-GNOME-Keywords[ro]=Internet;WWW;Navigator
X-GNOME-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-GNOME-Keywords[sk]=Internet; WWW; Prehliadač
X-GNOME-Keywords[uk]=Internet;WWW;Explorer
X-GNOME-Keywords[zh_CN]=互联网；WWW；浏览器
X-GNOME-Keywords[zh_TW]=Internet;WWW;Explorer
X-AppInstall-Keywords=Internet;WWW;Explorer
X-AppInstall-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-AppInstall-Keywords[ca]=Internet;WWW;Explorador
X-AppInstall-Keywords[cs]=Internet;WWW;Explorer
X-AppInstall-Keywords[da]=Internet;WWW;Stifinder
X-AppInstall-Keywords[de]=Internet;WWW;Explorer;Browser
X-AppInstall-Keywords[en_GB]=Internet;WWW;Explorer
X-AppInstall-Keywords[eo]=Interreto;TTT;Eksplorilo
X-AppInstall-Keywords[es]=Internet;WWW;Explorer
X-AppInstall-Keywords[gl]=Internet;WWW;Explorer
X-AppInstall-Keywords[he]=אינטרנט;רשת;דפדפן
X-AppInstall-Keywords[hr]=Internet;WWW;Explorer
X-AppInstall-Keywords[hu]=Internet;WWW;Explorer
X-AppInstall-Keywords[id]=Internet;WWW;Explorer
X-AppInstall-Keywords[it]=Internet;WWW;Explorer
X-AppInstall-Keywords[ja]=インターネット;WWW;エクスプローラー
X-AppInstall-Keywords[ko]=인터넷;WWW;익스플로러
X-AppInstall-Keywords[lt]=Internetas;WWW;Naršyklė
X-AppInstall-Keywords[nl]=Internet;WWW;Verkenner
X-AppInstall-Keywords[pl]=Internet;WWW;Explorer
X-AppInstall-Keywords[pt]=Internet;WWW;Explorador
X-AppInstall-Keywords[pt_BR]=Internet;WWW;Explorer
X-AppInstall-Keywords[ro]=Internet;WWW;Navigator
X-AppInstall-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-AppInstall-Keywords[sk]=Internet; WWW; Prehliadač
X-AppInstall-Keywords[uk]=Internet;WWW;Explorer
X-AppInstall-Keywords[zh_CN]=互联网；WWW；浏览器
X-AppInstall-Keywords[zh_TW]=Internet;WWW;Explorer
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
Exec=midori %U
Icon=midori
Terminal=false
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori
X-Ayatana-Desktop-Shortcuts=TabNew;WindowNew;Private

[TabNew Shortcut Group]
Name=New _Tab
Exec=midori -e TabNew
TargetEnvironment=Unity

[WindowNew Shortcut Group]
Name=New _Window
Exec=midori -e WindowNew
TargetEnvironment=Unity

[Private Shortcut Group]
Name=New P_rivate Browsing Window
Exec=midori --private
TargetEnvironment=Unity

