[Desktop Entry]
Version=1.0
Type=Application
Name=Midori Private Browsing
Name[ar]=متصفح ميدوري الخاص
Name[be]=Midori (Прыватнае агляданне)
Name[bg]=Мидори (поверителен режим)
Name[bs]=Midori Privatno Pregledanje
Name[ca]=Navegació privada de Midori
Name[cs]=Midori - soukromé prohlížení
Name[da]=Midori Privat browsing
Name[de]=Privates Surfen
Name[el]=Ιδιωτική περιήγηση Midori
Name[en_CA]=Midori Private Browsing
Name[en_GB]=Midori Private Browsing
Name[eo]=Privata retumado de Midori
Name[es]=Navegación privada Midori
Name[et]=Midori privaatne lehitsemine
Name[eu]=Midori nabigatze pribatua
Name[fa]=مرور محرمانه‌ی میدوری
Name[fi]=Midori-yksityisselaus
Name[fr]=Midori (Navigation privée)
Name[gd]=Privates Surfen
Name[gl]=Midori, navegación privada
Name[he]=גלישה פרטית ב  Midori
Name[hr]=Midori privatno pretraživanje
Name[hu]=Midori privát böngészés
Name[id]=Midori Meramban Privat
Name[it]=Navigazione privata di Midori
Name[ja]=Midori プライベートブラウジング
Name[ko]=미도리 개인 정보 보호 모드
Name[lt]=Midori privatus naršymas
Name[ms]=Pelayaran Peribadi Midori
Name[nb]=Midori privat nettlesing
Name[nl]=Midori Privé-surfen
Name[nn]=Midori Privatmodus
Name[pl]=Tryb prywatny Midori
Name[pt]=Midori (Navegação privada)
Name[pt_BR]=Navegação Privada Midori
Name[ro]=Navigare privată cu Midori
Name[ru]=Midori (конфиденциальный режим)
Name[sk]=Midori - súkromné prehliadanie
Name[sl]=Zasebno brskanje Midori
Name[sr]=Мидоријево приватно прегледање
Name[sv]=Midori privat webbläsning
Name[th]=Midori ท่องเว็บแบบส่วนตัว
Name[tr]=Midori Gizli Tarama
Name[ug]=مىدورى(Midori) شەخسىي كۆرۈش
Name[uk]=Мідорі перегляд в режимі приватності
Name[vi]=Duyệt web riêng tư Midori
Name[zh_CN]=Midori 私人浏览
Name[zh_TW]=Midori 私密瀏覽
GenericName=Private Browsing
GenericName[ar]=التصفح الخاص
GenericName[be]=Прыватнае агляданне
GenericName[bg]=Поверителен режим на сърфиране
GenericName[bs]=Privatno pregledanje
GenericName[ca]=Navegació privada
GenericName[cs]=Soukromé prohlížení
GenericName[da]=Privat browsing
GenericName[de]=Privat surfen
GenericName[el]=Ιδιωτική περιήγηση
GenericName[en_CA]=Private Browsing
GenericName[en_GB]=Private Browsing
GenericName[eo]=Privata retumado
GenericName[es]=Navegación privada
GenericName[et]=Privaatne lehitsemine
GenericName[eu]=Nabigatze pribatua
GenericName[fa]=مرور محرمانه
GenericName[fi]=Yksityinen selaus
GenericName[fr]=Navigation privée
GenericName[gd]=Privat surfen
GenericName[gl]=Navegación privada
GenericName[he]=גלישה פרטית
GenericName[hr]=(Privatno pretraživanje)
GenericName[hu]=Privát böngészés
GenericName[id]=Meramban Privat
GenericName[it]=Navigazione privata
GenericName[ja]=プライベートブラウジング
GenericName[ko]=사생활 보호 모드
GenericName[lt]=Privatus naršymas
GenericName[ms]=Pelayaran Peribadi
GenericName[nb]=Privat nettlesing
GenericName[nl]=Privé-surfen
GenericName[nn]=Privatmodus
GenericName[pl]=Przeglądanie w trybie prywatnym
GenericName[pt]=Navegação privada
GenericName[pt_BR]=Navegação privada
GenericName[ro]=Navigare privată
GenericName[ru]=Конфиденциальный режим
GenericName[sk]=Súkromné prehliadanie
GenericName[sl]=Zasebno brskanje
GenericName[sr]=Приватно прегледање
GenericName[sv]=Privat webbläsning
GenericName[th]=ท่องเว็บแบบส่วนตัว
GenericName[tr]=Gizli Tarama
GenericName[ug]=شەخسىي كۆرۈش
GenericName[uk]=Режим приватності
GenericName[vi]=Duyệt web riêng tư
GenericName[zh_CN]=私人浏览
GenericName[zh_TW]=私密瀏覽
Comment=Open a new private browsing window
Comment[ar]=فتح نافذة تصفح خاصة الجديدة
Comment[be]=Адкрыць новае вакно прыватнага аглядання
Comment[bg]=Отваряне на нов прозорец за поверително сърфиране
Comment[bs]=Otvori novi prozor za privatno pregledanje
Comment[ca]=Obre una finestra de navegació privada
Comment[cs]=Nové okno soukromého prohlížení
Comment[da]=Åbn nyt vindue til privat browsing
Comment[de]=Neues Fenster zum privaten Surfen öffnen
Comment[el]=Άνοιγμα ενός νέου παραθύρου ιδιωτικής περιήγησης
Comment[en_CA]=Open a new private browsing window
Comment[en_GB]=Open a new private browsing window
Comment[eo]=Malfermi novan fenestron por privata retumado
Comment[es]=Abrir una ventana nueva de navegación privada
Comment[et]=Ava uus privaatne aken
Comment[eu]=Ireki nabigatze pribatuko leiho berri bat
Comment[fa]=باز کردن یک پنجره‌ی مرور محرمانه
Comment[fi]=Avaa uusi yksityinen selaus -ikkuna
Comment[fr]=Ouvrir une nouvelle fenêtre (Navigation privée)
Comment[gd]=Neues Fenster zum privaten Surfen öffnen
Comment[gl]=Abrir unha nova xanela de navegación privada
Comment[he]=פתיחת חלון גלישה פרטית חדש
Comment[hr]=Novi prozor privatnog pretraživanja
Comment[hu]=Új privát böngészési ablak megnyitása
Comment[id]=Buka jendela meramban privat baru
Comment[it]=Apre una nuova finestra di navigazione privata
Comment[ja]=新しいプライベートブラウジングウィンドウを開きます
Comment[ko]=새 사생활 보호 모드 창 열기
Comment[lt]=Atverti naują _privataus naršymo langą
Comment[ms]=Buka tetingkap pelayaran peribadi baru
Comment[nb]=Åpne et nytt privat nettleservindu
Comment[nl]=Open een nieuw privé-surfvenster
Comment[nn]=Åpne eit nytt vindauge i privatmodus
Comment[pl]=Otwiera nowe, prywatne okno przeglądarki
Comment[pt]=Abrir nova janela de navegação privada
Comment[pt_BR]=Abrir uma nova janela de navegação privada
Comment[ro]=Deschide o nouă fereastră de navigare privată
Comment[ru]=Открывает новое конфиденциальное окно
Comment[sk]=Otvoriť nové okno súkromného prehliadania
Comment[sl]=Odprite novo okno zasebnega brskanja
Comment[sr]=Отворите нови прозор приватног прегледања
Comment[sv]=Öppna ett nytt privat fönster
Comment[th]=เปิดหน้าต่างท่องเว็บแบบส่วนตัว
Comment[tr]=Yeni bir gizli tarama penceresi aç
Comment[ug]=يېڭى شەخسىي كۆرۈش كۆزنىكىدىن بىرنى ئاچىدۇ
Comment[uk]=Відкрити нове вікно перегляду в режимі приватності
Comment[vi]=Mở một cửa sổ duyệt web riêng tư mới
Comment[zh_CN]=打开新的私人浏览窗口
Comment[zh_TW]=開啟新的私密瀏覽視窗
Categories=GTK;Network;WebBrowser;
Exec=midori --private %U
Icon=midori
Terminal=false
StartupNotify=true
NotShowIn=Pantheon;
X-Osso-Type=application/x-executable
X-Osso-Service=midori

