[Desktop Entry]
Version=1.0
Type=Application
Name=Midori Private Browsing
Name[ar]=متصفح ميدوري الخاص
Name[ca]=Navegació privada de Midori
Name[cs]=Midori - soukromé prohlížení
Name[da]=Midori Privat browsing
Name[el]=Ιδιωτική περιήγηση Midori
Name[en_GB]=Midori Private Browsing
Name[eo]=Privata retumado de Midori
Name[es]=Midori Navegación Privada
Name[eu]=Midori nabigatze pribatua
Name[fr]=Midori (Navigation privée)
Name[gl]=Midori, navegación privada
Name[he]=גלישה פרטית
Name[hr]=Midori privatno pretraživanje
Name[hu]=Midori privát böngészés
Name[id]=Midori Meramban Privat
Name[it]=Navigazione privata di Midori
Name[ja]=Midori プライベートブラウジング
Name[ko]=미도리 개인 정보 보호 모드
Name[lt]=Midori privatus naršymas
Name[nl]=Midori Privé-surfen
Name[pl]=Tryb prywatny przeglądarki Midori
Name[pt]=Midori (Navegação privada)
Name[pt_BR]=Navegação Privada Midori
Name[ro]=Navigare privată cu Midori
Name[ru]=Midori (конфиденциальный режим)
Name[sk]=Midori - súkromné prehliadanie
Name[uk]=Мідорі перегляд в режимі приватності
Name[zh_CN]=Midori 私人浏览
Name[zh_TW]=Midori 私密瀏覽
GenericName=Private Browsing
GenericName[ar]=التصفح الخاص
GenericName[ca]=Navegació privada
GenericName[cs]=Soukromé prohlížení
GenericName[da]=Privat browsing
GenericName[de]=Privat surfen
GenericName[el]=Ιδιωτική περιήγηση
GenericName[en_GB]=Private Browsing
GenericName[eo]=Privata retumado
GenericName[es]=Navegación Privada
GenericName[eu]=Nabigatze pribatua
GenericName[fr]=Navigation privée
GenericName[gl]=Navegación privada
GenericName[he]=גלישה פרטית
GenericName[hr]= (Privatno pretraživanje)
GenericName[hu]=Privát böngészés
GenericName[id]=Meramban Privat
GenericName[it]=Navigazione privata
GenericName[ja]=プライベートブラウジング
GenericName[ko]=사생활 보호 모드
GenericName[lt]=Privatus naršymas
GenericName[nl]=Privé-surfen
GenericName[pl]=Prywatne przeglądanie
GenericName[pt]=Navegação privada
GenericName[pt_BR]=Navegação Privada
GenericName[ro]=Navigare privată
GenericName[ru]=Конфиденциальный режим
GenericName[sk]=Súkromné prehliadanie
GenericName[uk]=Режим приватності
GenericName[zh_CN]=私人浏览
GenericName[zh_TW]=私密瀏覽
Comment=Open a new private browsing window
Comment[ar]=فتح نافذة تصفح خاصة الجديدة
Comment[ca]=Obre una finestra de navegació privada
Comment[cs]=Nové okno soukromého prohlížení
Comment[da]=Åbn nyt vindue til privat browsing
Comment[de]=Neues Fenster zum privaten Surfen öffnen
Comment[el]=Άνοιγμα ενός νέου παραθύρου ιδιωτικής περιήγησης
Comment[en_GB]=Open a new private browsing window
Comment[eo]=Malfermi novan fenestron por privata retumado
Comment[es]=Abrir una nueva ventana de navegación privada
Comment[eu]=Ireki nabigatze pribatuko leiho berri bat
Comment[fr]=Ouvrir une nouvelle fenêtre (Navigation privée)
Comment[gl]=Abrir unha nova xanela de navegación privada
Comment[he]=פתיחת חלון גלישה פרטית חדש
Comment[hr]=Novi prozor privatnog pretraživanja
Comment[hu]=Új privát böngészési ablak megnyitása
Comment[id]=Buka jendela meramban privat baru
Comment[it]=Apre una nuova finestra di navigazione privata
Comment[ja]=新しいプライベートブラウジングウィンドウを開きます
Comment[ko]=새 사생활 보호 모드 창 열기
Comment[lt]=Atverti naują _privataus naršymo langą
Comment[nl]=Open een nieuw privé-surfvenster
Comment[pl]=Otwiera nowe, prywatne okno przeglądarki
Comment[pt]=Abrir nova janela de navegação privada
Comment[pt_BR]=Abrir uma nova janela de navegação privada
Comment[ro]=Deschide o nouă fereastră de navigare privată
Comment[ru]=Открывает новое конфиденциальное окно
Comment[sk]=Otvoriť nové okno súkromného prehliadania
Comment[uk]=Відкрити нове вікно перегляду в режимі приватності
Comment[zh_CN]=打开新的私人浏览窗口
Comment[zh_TW]=開啟新的私密瀏覽視窗
Categories=GTK;Network;WebBrowser;
Exec=midori --private %U
Icon=midori
Terminal=false
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori

