[Desktop Entry]
Version=1.0
Type=Application
Name=Midori
Name[ar]=ميدوري
Name[ast]=Midori
Name[be]=Midori
Name[bg]=Midori
Name[bs]=Midori
Name[ca]=Midori
Name[cs]=Midori
Name[cy]=Midori
Name[da]=Midori
Name[de]=Midori
Name[el]=Midori
Name[en_CA]=Midori
Name[en_GB]=Midori
Name[eo]=Midori
Name[es]=Midori
Name[et]=Midori
Name[eu]=Midori
Name[fa]=میدوری
Name[fi]=Midori
Name[fr]=Midori
Name[gd]=Midori
Name[gl]=Midori
Name[he]=דפדפן Midori
Name[hr]=Midori
Name[hu]=Midori
Name[id]=Midori
Name[it]=Midori
Name[ja]=Midori
Name[kk]=Midori
Name[ko]=미도리
Name[ky]=Midori
Name[lt]=Midori
Name[lv]=Midori
Name[ms]=Midori
Name[nb]=Midori
Name[nl]=Midori
Name[nn]=Midori
Name[no]=Midori
Name[pa]=ਮੀਡੋਰੀ
Name[pl]=Midori
Name[pt]=Midori
Name[pt_BR]=Midori
Name[ro]=Midori
Name[ru]=Midori
Name[sk]=Midori
Name[sl]=Midori
Name[sr]=Мидори
Name[sr@latin]=Midori
Name[sv]=Midori
Name[th]=Midori
Name[tr]=Midori
Name[ug]=مىدورى(Midori)
Name[uk]=Мідорі
Name[vi]=Midori
Name[zh_CN]=Midori 浏览器
Name[zh_TW]=Midori
GenericName=Web Browser
GenericName[ar]=متصفح الوب
GenericName[ast]=Restolador
GenericName[be]=Вэб-браўзер
GenericName[bg]=Уеб браузър
GenericName[bs]=Internet preglednik
GenericName[ca]=Navegador web
GenericName[cs]=Internetový prohlížeč
GenericName[cy]=Porwr Gwe
GenericName[da]=Webbrowser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής Ιστού
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web-arakatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[gd]=Internetbetrachter
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[ia]=Navigator Web
GenericName[id]=Peramban Web
GenericName[it]=Browser web
GenericName[ja]=ウェブブラウザー
GenericName[kk]=Веб браузері
GenericName[ko]=웹 브라우저
GenericName[ky]=Интернет-серепчи
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[ms]=Pelayar Sesawang
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Navigator web
GenericName[ru]=Интернет-обозреватель
GenericName[sk]=Internetový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Интернет прегледник
GenericName[sr@latin]=Internet preglednik
GenericName[sv]=Webbläsare
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач Веб
GenericName[vi]=Trình duyệt Web
GenericName[zh_CN]=网络浏览器
GenericName[zh_TW]=網頁瀏覽器
X-GNOME-Fullname=Midori Web Browser
X-GNOME-Fullname[ar]=مستعرض الويب ميدوري
X-GNOME-Fullname[be]=Веб-браўзер Midori
X-GNOME-Fullname[bg]=Уеб браузър Midori
X-GNOME-Fullname[bs]=Midori internet pregledač
X-GNOME-Fullname[ca]=Navegador web Midori
X-GNOME-Fullname[cs]=Internetový prohlížeč Midori
X-GNOME-Fullname[da]=Midori webbrowser
X-GNOME-Fullname[de]=Midori Web-Browser
X-GNOME-Fullname[el]=Περιηγητής Ιστού Midori
X-GNOME-Fullname[en_CA]=Midori Web Browser
X-GNOME-Fullname[en_GB]=Midori Web Browser
X-GNOME-Fullname[eo]=Retumilo Midori
X-GNOME-Fullname[es]=Navegador web Midori
X-GNOME-Fullname[et]=Midori veebibrauser
X-GNOME-Fullname[eu]=Web-arakatzaile mugikorra
X-GNOME-Fullname[fi]=Midori-verkkoselain
X-GNOME-Fullname[fr]=Navigateur Web Midori
X-GNOME-Fullname[gd]=Webbrowser
X-GNOME-Fullname[gl]=Navegador web Midori
X-GNOME-Fullname[he]=דפדפן האינטרנט  Midori
X-GNOME-Fullname[hr]=Midori web preglednik
X-GNOME-Fullname[hu]=Midori webböngésző
X-GNOME-Fullname[id]=Peramban Web Midori
X-GNOME-Fullname[it]=Browser web Midori
X-GNOME-Fullname[ja]=Midori ウェブブラウザー
X-GNOME-Fullname[kk]=Midori веб браузері
X-GNOME-Fullname[ko]=미도리 웹 브라우저
X-GNOME-Fullname[ky]=Midori интернет-серепчиси
X-GNOME-Fullname[lv]=Midori tīmekļa pārlūks
X-GNOME-Fullname[ms]=Pelayar Sesawang Midori
X-GNOME-Fullname[nl]=Midori webbrowser
X-GNOME-Fullname[nn]=Midori Nettlesar
X-GNOME-Fullname[pl]=Przeglądarka internetowa Midori
X-GNOME-Fullname[pt]=Navegador web Midori
X-GNOME-Fullname[pt_BR]=Navegador Web Midori
X-GNOME-Fullname[ro]=Navigatorul web Midori
X-GNOME-Fullname[ru]=Интернет-обозреватель Midori
X-GNOME-Fullname[sk]=Midori internetový prehliadač
X-GNOME-Fullname[sr]=Интернет прегледник Мидори
X-GNOME-Fullname[sv]=Webbläsaren Midori
X-GNOME-Fullname[tr]=Midori İnternet Tarayıcısı
X-GNOME-Fullname[ug]=مىدورى(Midori) توركۆرگۈ
X-GNOME-Fullname[uk]=Midori - переглядач Веб-сторінок
X-GNOME-Fullname[vi]=Trình duyệt web Midori
X-GNOME-Fullname[zh_CN]=Midori 网络浏览器
X-GNOME-Fullname[zh_TW]=Midori 網頁瀏覽器
Comment=Browse the Web
Comment[ar]=تصفّح الإنترنت
Comment[be]=Аглядаць Сеціва
Comment[bg]=Търсене в Интернет
Comment[bs]=Pretražuj Internet
Comment[ca]=Navega la web
Comment[cs]=Prohlížet internet
Comment[cy]=Porwch yr We
Comment[da]=Gennemse internettet
Comment[de]=Im Internet surfen
Comment[el]=Αναζήτηση στον Ιστό
Comment[en_CA]=Browse the Web
Comment[en_GB]=Browse the Web
Comment[eo]=Retumi
Comment[es]=Navegue por la web
Comment[et]=Veebi lehitsemine stiilselt
Comment[eu]=Arakatu sarea
Comment[fa]=مرور وب
Comment[fi]=Selaa verkkoa
Comment[fr]=Rechercher sur Internet
Comment[gd]=Im Web surfen
Comment[gl]=Navegar pola Rede
Comment[he]=גלישה באינטרנט
Comment[hr]=Pretraži web
Comment[hu]=A világháló böngészése
Comment[ia]=Naviga le Web
Comment[id]=Ramban Web
Comment[it]=Naviga nel web
Comment[ja]=ウェブを閲覧します
Comment[kk]=Интернетті шолу
Comment[ko]=웹 찾아보기
Comment[ky]=Интернеттен иштөө
Comment[lt]=Naršyti internete
Comment[lv]=Pārlūkot tīmekli
Comment[ms]=Layari Sesawang
Comment[nb]=Bruk internett
Comment[nl]=Surfen op het web
Comment[nn]=Surf på nettet
Comment[pl]=Wyświetla zawartość stron umieszczonych w sieci internetowej
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na Web
Comment[ro]=Navigați pe Internet
Comment[ru]=Работа в Интернете
Comment[sk]=Prehliadať internet
Comment[sl]=Brskajte po spletu
Comment[sr]=Прегледајте веб
Comment[sr@latin]=Pretražiti internet
Comment[sv]=Surfa på nätet
Comment[th]=ท่องดูเว็บ
Comment[tr]=İnternette Gezin
Comment[ug]=تور كۆرۈش
Comment[uk]=Серфінг в Інтернеті
Comment[vi]=Duyệt web
Comment[zh_CN]=浏览网络
Comment[zh_TW]=瀏覽網頁
X-GNOME-Keywords=Internet;WWW;Explorer
X-GNOME-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-GNOME-Keywords[be]=Internet;WWW;Explorer
X-GNOME-Keywords[bg]=Интернет;WWW;Търсачка
X-GNOME-Keywords[bs]=Internet;WWW,Eksplorer
X-GNOME-Keywords[ca]=Internet;WWW;Explorador
X-GNOME-Keywords[cs]=Internet;WWW;Explorer
X-GNOME-Keywords[cy]=Internet;WWW;Explorer
X-GNOME-Keywords[da]=Internet;WWW;Stifinder
X-GNOME-Keywords[de]=Internet;WWW;Explorer;Browser
X-GNOME-Keywords[el]=Internet;WWW;Explorer
X-GNOME-Keywords[en_CA]=Internet;WWW;Explorer
X-GNOME-Keywords[en_GB]=Internet;WWW;Explorer
X-GNOME-Keywords[eo]=Interreto;TTT;Eksplorilo
X-GNOME-Keywords[es]=Internet;WWW;Explorador
X-GNOME-Keywords[et]=Internet;WWW;Explorer;Web;Veeb;Brauser;Browser
X-GNOME-Keywords[eu]=Internet;WWW;Nabigatzailea
X-GNOME-Keywords[fa]=اینترنت;WWW;کاوشکر
X-GNOME-Keywords[fi]=Internet;WWW;Explorer;selain
X-GNOME-Keywords[fr]=Internet;WWW;Explorer
X-GNOME-Keywords[gd]=Internet;WWW;Explorer;Browser
X-GNOME-Keywords[gl]=Internet;WWW;Explorer
X-GNOME-Keywords[he]=אינטרנט;רשת;דפדפן
X-GNOME-Keywords[hr]=Internet;WWW;Explorer
X-GNOME-Keywords[hu]=Internet;WWW;Explorer
X-GNOME-Keywords[id]=Internet;WWW;Explorer
X-GNOME-Keywords[it]=Internet;WWW;Explorer
X-GNOME-Keywords[ja]=インターネット;WWW;エクスプローラー
X-GNOME-Keywords[kk]=Интернет;WWW;Шолушы
X-GNOME-Keywords[ko]=인터넷;WWW;익스플로러
X-GNOME-Keywords[ky]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-GNOME-Keywords[lt]=Internetas;WWW;Naršyklė
X-GNOME-Keywords[ms]=Internet;WWW;Explorer
X-GNOME-Keywords[nb]=Internett;WWW;Explorer
X-GNOME-Keywords[nl]=Internet;WWW;Verkenner
X-GNOME-Keywords[nn]=Internett;WWW;Explorer
X-GNOME-Keywords[pl]=Internet;WWW;Explorer
X-GNOME-Keywords[pt]=Internet;WWW;Explorer
X-GNOME-Keywords[pt_BR]=Internet;WWW;Explorer
X-GNOME-Keywords[ro]=Internet;WWW;Navigator
X-GNOME-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-GNOME-Keywords[sk]=Internet; WWW; Prehliadač
X-GNOME-Keywords[sr]=Интернет;ВВВ;Истраживач
X-GNOME-Keywords[sv]=Internet;WWW;Explorer
X-GNOME-Keywords[tr]=Internet;WWW;Tarayıcı
X-GNOME-Keywords[ug]=ئىنتېرنېت؛WWW؛Explorer
X-GNOME-Keywords[uk]=Internet;WWW;Explorer
X-GNOME-Keywords[vi]=Internet;WWW;Explorer;Web
X-GNOME-Keywords[zh_CN]=互联网；WWW；浏览器
X-GNOME-Keywords[zh_TW]=Internet;WWW;Explorer;網際網路;瀏覽器
X-AppInstall-Keywords=Internet;WWW;Explorer
X-AppInstall-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-AppInstall-Keywords[be]=Internet;WWW;Explorer
X-AppInstall-Keywords[bg]=Интернет;WWW;Търсачка
X-AppInstall-Keywords[bs]=Internet;WWW,Eksplorer
X-AppInstall-Keywords[ca]=Internet;WWW;Explorador
X-AppInstall-Keywords[cs]=Internet;WWW;Explorer
X-AppInstall-Keywords[cy]=Internet;WWW;Explorer
X-AppInstall-Keywords[da]=Internet;WWW;Stifinder
X-AppInstall-Keywords[de]=Internet;WWW;Explorer;Browser
X-AppInstall-Keywords[el]=Internet;WWW;Explorer
X-AppInstall-Keywords[en_CA]=Internet;WWW;Explorer
X-AppInstall-Keywords[en_GB]=Internet;WWW;Explorer
X-AppInstall-Keywords[eo]=Interreto;TTT;Eksplorilo
X-AppInstall-Keywords[es]=Internet;WWW;Explorador
X-AppInstall-Keywords[et]=Internet;WWW;Explorer;Web;Veeb;Brauser;Browser
X-AppInstall-Keywords[eu]=Internet;WWW;Nabigatzailea
X-AppInstall-Keywords[fa]=اینترنت;WWW;کاوشکر
X-AppInstall-Keywords[fi]=Internet;WWW;Explorer;selain
X-AppInstall-Keywords[fr]=Internet;WWW;Explorer
X-AppInstall-Keywords[gd]=Internet;WWW;Explorer;Browser
X-AppInstall-Keywords[gl]=Internet;WWW;Explorer
X-AppInstall-Keywords[he]=אינטרנט;רשת;דפדפן
X-AppInstall-Keywords[hr]=Internet;WWW;Explorer
X-AppInstall-Keywords[hu]=Internet;WWW;Explorer
X-AppInstall-Keywords[id]=Internet;WWW;Explorer
X-AppInstall-Keywords[it]=Internet;WWW;Explorer
X-AppInstall-Keywords[ja]=インターネット;WWW;エクスプローラー
X-AppInstall-Keywords[kk]=Интернет;WWW;Шолушы
X-AppInstall-Keywords[ko]=인터넷;WWW;익스플로러
X-AppInstall-Keywords[ky]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-AppInstall-Keywords[lt]=Internetas;WWW;Naršyklė
X-AppInstall-Keywords[ms]=Internet;WWW;Explorer
X-AppInstall-Keywords[nb]=Internett;WWW;Explorer
X-AppInstall-Keywords[nl]=Internet;WWW;Verkenner
X-AppInstall-Keywords[nn]=Internett;WWW;Explorer
X-AppInstall-Keywords[pl]=Internet;WWW;Explorer
X-AppInstall-Keywords[pt]=Internet;WWW;Explorer
X-AppInstall-Keywords[pt_BR]=Internet;WWW;Explorer
X-AppInstall-Keywords[ro]=Internet;WWW;Navigator
X-AppInstall-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-AppInstall-Keywords[sk]=Internet; WWW; Prehliadač
X-AppInstall-Keywords[sr]=Интернет;ВВВ;Истраживач
X-AppInstall-Keywords[sv]=Internet;WWW;Explorer
X-AppInstall-Keywords[tr]=Internet;WWW;Tarayıcı
X-AppInstall-Keywords[ug]=ئىنتېرنېت؛WWW؛Explorer
X-AppInstall-Keywords[uk]=Internet;WWW;Explorer
X-AppInstall-Keywords[vi]=Internet;WWW;Explorer;Web
X-AppInstall-Keywords[zh_CN]=互联网；WWW；浏览器
X-AppInstall-Keywords[zh_TW]=Internet;WWW;Explorer;網際網路;瀏覽器
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
Exec=midori %U
Icon=midori
Terminal=false
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori
Actions=TabNew;WindowNew;Private;

[Desktop Action TabNew]
Name=New Tab
Name[ar]=تبويب جديد
Name[be]=Новая картка
Name[bg]=Нов раздел
Name[bs]=Nova kartica
Name[ca]=Nova pestanya
Name[cs]=Nová karta
Name[da]=Nyt faneblad
Name[de]=Neuer Reiter
Name[el]=Νέα καρτέλα
Name[en_CA]=New Tab
Name[en_GB]=New Tab
Name[eo]=Nova langeto
Name[es]=Pestaña nueva
Name[et]=Uus kaart
Name[eu]=Fitxa berria
Name[fa]=زبانه‌ی جدید
Name[fi]=Uusi välilehti
Name[fr]=Nouvel onglet
Name[gd]=Neuer Reiter
Name[gl]=Nova lapela
Name[he]=לשונית חדשה
Name[hr]=Nova kartica
Name[hu]=Új lap
Name[id]=Tab Baru
Name[it]=Nuova scheda
Name[ja]=新しいタブ
Name[kk]=Жаңа бет
Name[ko]=새 탭
Name[ky]=Жаңы салма
Name[lt]=Nauja kortelė
Name[lv]=Jauna cilne
Name[ms]=Tab Baru
Name[nb]=Ny fane
Name[nl]=Nieuw tabblad
Name[nn]=Ny fane
Name[pl]=Nowa karta
Name[pt]=Novo separador
Name[pt_BR]=Nova aba
Name[ro]=Tab nou
Name[ru]=Новая вкладка
Name[sk]=Nová karta
Name[sl]=Nov zavihek
Name[sr]=Нови лист
Name[sv]=Ny flik
Name[tr]=Yeni Sekme
Name[ug]=يېڭى بەتكۈچ
Name[uk]=Нова вкладка
Name[vi]=Tab mới
Name[zh_CN]=新建标签
Name[zh_TW]=新增分頁
Exec=midori -e TabNew

[Desktop Action WindowNew]
Name=New Window
Name[ar]=نافذة جديدة
Name[be]=Новае вакно
Name[bg]=Нов прозорец
Name[bs]=Novi prozor
Name[ca]=Nova finestra
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_CA]=New Window
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=پنجره‌ی حدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gd]=Neues Fenster
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[ky]=Жаңы терезе
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ms]=Tetingkap Baru
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi Prozor
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[vi]=Cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_TW]=新增視窗
Exec=midori -e WindowNew

[Desktop Action Private]
Name=New Private Browsing Window
Name[ar]=نافذة التصفح الخاص الجديدة
Name[be]=Акно прыватнага аглядання
Name[bg]=Нов прозорец за поверително сърфиране
Name[bs]=Novi prozor privatnog pregledanja
Name[ca]=Finestra de navegació privada nova
Name[cs]=Nové okno soukromého prohlížení
Name[da]=Nyt "P_rivat browsing"-vindue
Name[de]=Neues Fenster zum privaten Surfen
Name[el]=Νέο παράθυρο ιδιωτικής περιήγησης
Name[en_CA]=New Private Browsing Window
Name[en_GB]=New Private Browsing Window
Name[eo]=Nova fenestro por privata retumado
Name[es]=Ventana de navegación privada nueva
Name[et]=Uus privaatne aken
Name[eu]=Nabigatze _pribatuko leiho berria
Name[fi]=Uusi yksityisen selauksen ikkuna
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gd]=Neues Fenster zum privaten Surfen
Name[gl]=Nova xanela de navegación privada
Name[he]=חלון גלישה פרטית חדש
Name[hr]=Novi prozor privatnog pretraživanja
Name[hu]=Új privát böngészési ablak megnyitása
Name[id]=Jendela Peramban Privat Baru
Name[it]=Nuova finestra di navigazione privata
Name[ja]=新しいプライベートブラウジングウィンドウ
Name[ko]=새 사생활 보호 모드 창
Name[ms]=Tetingkap Pelayaran Peribadi Baru
Name[nl]=Nieuw privé-surfvenster
Name[nn]=Nytt vindauge i privatmodus
Name[pl]=Nowe okno prywatne
Name[pt]=Nova janela de navegação privada
Name[pt_BR]=Nova janela de navegação privada
Name[ro]=Fereastră nouă de navigare privată
Name[ru]=Новое кон_фиденциальное окно
Name[sk]=Nové okno súkromého prehliadania
Name[sr]=Нови прозор приватног прегледања
Name[sv]=Nytt privat fönster
Name[tr]=Yeni Özel Tarama Penceresi
Name[ug]=يېڭى شەخسىي كۆرۈش كۆزنىكى
Name[uk]=Нове вікно в режимі приватності
Name[vi]=Mở cửa sổ duyệt web riêng tư mới
Name[zh_CN]=新建私人浏览窗口
Name[zh_TW]=新增私人瀏覽視窗
Exec=midori --private

