[Unit]
Description=Daemon for monitoring attached scanners and registering them with colord

[Service]
Type=dbus
BusName=org.freedesktop.colord-sane
ExecStart=/usr/lib/colord/colord-sane
User=root
PrivateNetwork=yes
PrivateTmp=yes
