<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_plot_xy">
	<information>
		<name>Charting : XY/Scatter/Bubble</name>
		<name xml:lang="ast">Gráfiques: XY/Dispersión/Burbuxa</name>
		<name xml:lang="ca">Gràfic: XY/dispers/bombolla</name>
		<name xml:lang="ca@valencia">Gràfic: XY/dispers/bombolla</name>
		<name xml:lang="cs">Sestavování grafů: XY/korelační/bublinové</name>
		<name xml:lang="da">Diagram : XY/punktplot/boble</name>
		<name xml:lang="de">Diagrammdarstellung : XY/Streuung/Blasen</name>
		<name xml:lang="en_CA">Charting : XY/Scatter/Bubble</name>
		<name xml:lang="en_GB">Charting : XY/Scatter/Bubble</name>
		<name xml:lang="es">Gráficas: XY/Dispersión/Burbuja</name>
		<name xml:lang="eu">Diagramak : XY/Barreiadura/Burbuila</name>
		<name xml:lang="fi">Piirto: xy/hajonta/kupla</name>
		<name xml:lang="fr">Graphes : XY/Nuage/Bulles</name>
		<name xml:lang="it">Grafici: XY/Scatter/Bolle</name>
		<name xml:lang="ja">グラフ: 散布図/バブル</name>
		<name xml:lang="nl">Grafiek maken : XY/Punten/Balonnen</name>
		<name xml:lang="pt_BR">Gráficos: XY/Dispersão/Bolhas</name>
		<name xml:lang="sl">Diagrami: XY/razpršeni/mehurčni</name>
		<name xml:lang="sv">Graf: XY/sprid/bubbla</name>
		<name xml:lang="vi">Vẽ đồ thị: XY/Rải/Bọt</name>
		<name xml:lang="zh_CN">制图：XY/分散/泡泡</name>
		<description>2D plots</description>
		<description xml:lang="ast">Gráficos 2D</description>
		<description xml:lang="ca">Traçats en 2D</description>
		<description xml:lang="ca@valencia">Traçats en 2D</description>
		<description xml:lang="cs">Diagramy 2D</description>
		<description xml:lang="da">2D plotninger</description>
		<description xml:lang="de">2D-Graphen</description>
		<description xml:lang="en_CA">2D plots</description>
		<description xml:lang="en_GB">2D plots</description>
		<description xml:lang="es">Gráficos 2D</description>
		<description xml:lang="eu">2D diagramak</description>
		<description xml:lang="fi">2D-kuvaajat</description>
		<description xml:lang="fr">Tracés 2D</description>
		<description xml:lang="it">Tracciati 2D</description>
		<description xml:lang="ja">2次元プロット</description>
		<description xml:lang="nb">2D-plott</description>
		<description xml:lang="nl">2D plots</description>
		<description xml:lang="pt_BR">Gráficos 2D</description>
		<description xml:lang="ru">2D графики</description>
		<description xml:lang="sl">2D diagrami</description>
		<description xml:lang="sv">2D-diagram</description>
		<description xml:lang="vi">Vẽ 2D</description>
		<description xml:lang="zh_CN">2D 绘图</description>
		<description xml:lang="zh_HK">平面繪製</description>
		<description xml:lang="zh_TW">平面繪製</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="xy" name="module_file"/>
	</loader>
	<services>
		<service type="plot_engine" id="GogXYPlot">
			<information>
				<description>2D scatter plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de diagrames de dispersión 2D</description>
				<description xml:lang="ca">Motor de traçador dispers en 2D</description>
				<description xml:lang="ca@valencia">Motor de traçador dispers en 2D</description>
				<description xml:lang="cs">Generování korelačních 2D diagramů</description>
				<description xml:lang="da">2D punktplotningsmotor</description>
				<description xml:lang="de">2D-Streugraph-Engine</description>
				<description xml:lang="en_CA">2D scatter plotting engine</description>
				<description xml:lang="en_GB">2D scatter plotting engine</description>
				<description xml:lang="es">Motor de dibujo de diagramas de dispersión 2D</description>
				<description xml:lang="eu">2D barreiadura-diagramak marrazteko motorra</description>
				<description xml:lang="fi">2D-hajontakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin 2D de nuages de points</description>
				<description xml:lang="hr">2D sustav raspršenog ispisivanja</description>
				<description xml:lang="it">Motore tracciati scatter 2D</description>
				<description xml:lang="ja">2次元散布図プロットエンジン</description>
				<description xml:lang="nl">2D punten plot-motor</description>
				<description xml:lang="pt">Motor de gráficos de dispersão 2D</description>
				<description xml:lang="pt_BR">Ferramenta de construção de gráficos de Dispersão 2D</description>
				<description xml:lang="sk">2D rozptýlené grafy</description>
				<description xml:lang="sl">Programnik izrisa 2-razsežnega raztresenega diagrama</description>
				<description xml:lang="sr">Систем за исцртавање разбацаних 2Д графикона</description>
				<description xml:lang="sr@latin">Sistem za iscrtavanje razbacanih 2D grafikona</description>
				<description xml:lang="sv">2D-spridningsgrafmotor</description>
				<description xml:lang="vi">Cơ chế vẽ đồ thị rải hai chiều</description>
				<description xml:lang="zh_CN">2D 分散绘图引擎</description>
				<description xml:lang="zh_HK">平面分散繪製引擎</description>
				<description xml:lang="zh_TW">平面分散繪製引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogBubblePlot">
			<information>
				<description>Bubble plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de burbuxes</description>
				<description xml:lang="ca">Motor de traçador de bombolles</description>
				<description xml:lang="ca@valencia">Motor de traçador de bombolles</description>
				<description xml:lang="cs">Generování bublinových diagramů</description>
				<description xml:lang="da">Bobleplotningsmotor</description>
				<description xml:lang="de">Blasengraph-Engine</description>
				<description xml:lang="en_CA">Bubble plotting engine</description>
				<description xml:lang="en_GB">Bubble plotting engine</description>
				<description xml:lang="es">Motor de dibujo de burbujas</description>
				<description xml:lang="eu">Burbuilak marrazteko motorra</description>
				<description xml:lang="fi">Kuplapiirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de bulles</description>
				<description xml:lang="it">Motore tracciati bolle</description>
				<description xml:lang="ja">バブルプロットエンジン</description>
				<description xml:lang="nb">Motor for bobleplott</description>
				<description xml:lang="nl">Ballonnen plot-motor</description>
				<description xml:lang="pt">Motor de desenho de bolhas</description>
				<description xml:lang="pt_BR">Mecanismo de plotar Bolhas</description>
				<description xml:lang="sl">Programnik izrisa mehurčnih diagramov</description>
				<description xml:lang="sv">Bubbelritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ bọt</description>
				<description xml:lang="zh_CN">泡泡绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogXYColorPlot">
			<information>
				<description>2D colored scatter plotting engine</description>
				<description xml:lang="ast">motor 2D que traza'l coloreáu de la dispersión</description>
				<description xml:lang="ca">Motor de traçador dispers en color a 2D</description>
				<description xml:lang="ca@valencia">Motor de traçador dispers en color a 2D</description>
				<description xml:lang="cs">Generování barevných korelačních 2D diagramů</description>
				<description xml:lang="da">2D farvet punktplotningsmotor</description>
				<description xml:lang="de">2D-Farbstreugraph-Engine</description>
				<description xml:lang="en_GB">2D coloured scatter plotting engine</description>
				<description xml:lang="es">Motor de dibujo de diagramas de dispersión 2D</description>
				<description xml:lang="eu">2D koloretako barreiadura-diagramak marrazteko motorra</description>
				<description xml:lang="fi">2D-värihajontakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin 2D de nuages de points colorés</description>
				<description xml:lang="sl">Programnik izrisovanja raztresenega diagrama</description>
				<description xml:lang="vi">Cơ chế vẽ đồ thị rải màu hai chiều</description>
				<description xml:lang="zh_HK">平面著色分散繪製引擎</description>
				<description xml:lang="zh_TW">平面著色分散繪製引擎</description>
			</information>
		</service>
		<service type="plot_type" id="plot_xy">
			<file>plot-types.xml</file>
			<information>
				<description>Stock Scatter plot types</description>
				<description xml:lang="ast">Inventariu de tribes de gráfiques de dispersión</description>
				<description xml:lang="ca">Tipus de traçat dispers per defecte</description>
				<description xml:lang="ca@valencia">Tipus de traçat dispers per defecte</description>
				<description xml:lang="cs">Typy korelačních diagramů</description>
				<description xml:lang="da">Standard punktplottyper</description>
				<description xml:lang="de">Vorrätige Streugraphtypen</description>
				<description xml:lang="en_CA">Stock Scatter plot types</description>
				<description xml:lang="en_GB">Stock Scatter plot types</description>
				<description xml:lang="es">Inventario de tipos de gráficas de dispersión</description>
				<description xml:lang="eu">Kotizazioen barreiadura-diagrama motak</description>
				<description xml:lang="fi">Pörssihajontakuvaajien oletustyypit</description>
				<description xml:lang="fr">Types de tracés de nuages du stock</description>
				<description xml:lang="hr">Vrste razbacanog iscrtavanja</description>
				<description xml:lang="it">Tipi predefiniti tracciati scatter</description>
				<description xml:lang="nl">Standaard punten-grafiektypen</description>
				<description xml:lang="pt">Tipos de dispersão de pontos padrão</description>
				<description xml:lang="pt_BR">Gráficos de Dispersão de Ações</description>
				<description xml:lang="sk">Rozptýlené kurzy</description>
				<description xml:lang="sl">Vrste raztresenih vretenastih diagramov</description>
				<description xml:lang="sr">Укључене врсте разбацаног исцртавања</description>
				<description xml:lang="sr@latin">Uključene vrste razbacanog iscrtavanja</description>
				<description xml:lang="sv">Standardtyper av spridningsgrafer</description>
				<description xml:lang="vi">Kiểu đồ thị vẽ Rải chứng khoán</description>
				<description xml:lang="zh_CN">存有分散绘图类型</description>
			</information>
		</service>
		<service type="plot_engine" id="GogXYDropBarPlot">
			<information>
				<description>Scattered dropbar plotting engine</description>
				<description xml:lang="cs">Generování rozptylových objemových diagramů</description>
				<description xml:lang="de">Verteilte 2D-Streugraph-Engine</description>
				<description xml:lang="es">Motor de dibujado de barras deslizantes dispersas</description>
				<description xml:lang="sl">Programnik izrisovanja raztresenega vretenastega diagrama</description>
			</information>
		</service>
	</services>
</plugin>