<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_reg_linear">
	<information>
		<name>Regression curve : linear</name>
		<name xml:lang="ast">Curva de regresión : llinial</name>
		<name xml:lang="ca">Corba de regressió: lineal</name>
		<name xml:lang="ca@valencia">Corba de regressió: lineal</name>
		<name xml:lang="cs">Regresní křivka: lineární</name>
		<name xml:lang="da">Regressionskurve : lineær</name>
		<name xml:lang="de">Regressionskurve: Linear</name>
		<name xml:lang="en_GB">Regression curve : linear</name>
		<name xml:lang="es">Curva de regresión: lineal</name>
		<name xml:lang="eu">Erregresio-kurba: lineala</name>
		<name xml:lang="fi">Regressiokäyrä : lineaarinen</name>
		<name xml:lang="fr">Courbe de régression : linéaire</name>
		<name xml:lang="it">Curve di regressione: lineare</name>
		<name xml:lang="sl">Regresijska krivulja: linearna</name>
		<name xml:lang="vi">Đường cong hồi quy: tuyến</name>
		<name xml:lang="zh_CN">回归曲线：线性</name>
		<description>Linear regression curves</description>
		<description xml:lang="ast">Curves de regresión llinial</description>
		<description xml:lang="ca">Corbes de regressió lineal</description>
		<description xml:lang="ca@valencia">Corbes de regressió lineal</description>
		<description xml:lang="cs">Lineární regresní křivka</description>
		<description xml:lang="da">Lineære regressionskurver</description>
		<description xml:lang="de">Lineare Regressionskurven</description>
		<description xml:lang="en_GB">Linear regression curves</description>
		<description xml:lang="es">Curvas de regresión lineal</description>
		<description xml:lang="eu">Erregresio-kurba linealak</description>
		<description xml:lang="fi">Lineaariset regressiokäyrät</description>
		<description xml:lang="fr">Courbes de régression linéaires</description>
		<description xml:lang="it">Curve regressione lineare</description>
		<description xml:lang="sl">Linearne regresijske krivulje</description>
		<description xml:lang="vi">Đường cong hồi quy tuyến</description>
		<description xml:lang="zh_CN">线性回归曲线</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="linreg" name="module_file"/>
	</loader>
	<services>
		<service type="trendline_engine" id="GogLinRegCurve">
			<information>
				<description>Linear regression curve engine</description>
				<description xml:lang="ast">Motor de curva de regresión llinial</description>
				<description xml:lang="ca">Motor de corba de regressió lineal</description>
				<description xml:lang="ca@valencia">Motor de corba de regressió lineal</description>
				<description xml:lang="cs">Výpočet lineární regresní křivky</description>
				<description xml:lang="da">Lineær regressionskurvemotor</description>
				<description xml:lang="de">Lineare Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Linear regression curve engine</description>
				<description xml:lang="es">Motor de curvas de regresión lineal</description>
				<description xml:lang="eu">Erregresio-kurba linealen motorra</description>
				<description xml:lang="fi">Lineaarisen regressiokäyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbes de régression linéaire</description>
				<description xml:lang="it">Motore curva regressione lineare</description>
				<description xml:lang="sl">Programnik izrisa linearnih regresijskih krivulj</description>
				<description xml:lang="vi">Cơ chế đường cong hồi quy tuyến</description>
				<description xml:lang="zh_CN">线性回归曲线引擎</description>
			</information>
		</service>
		<service type="trendline_engine" id="GogExpRegCurve">
			<information>
				<description>Exponential regression curve engine</description>
				<description xml:lang="ast">Motor de curva de regresión esponencial</description>
				<description xml:lang="ca">Motor de corba de regressió exponencial</description>
				<description xml:lang="ca@valencia">Motor de corba de regressió exponencial</description>
				<description xml:lang="cs">Výpočet exponenciální regresní křivky</description>
				<description xml:lang="da">Eksponentiel regressionskurvemotor</description>
				<description xml:lang="de">Exponentielle Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Exponential regression curve engine</description>
				<description xml:lang="es">Motor de curvas de regresión exponencial</description>
				<description xml:lang="eu">Erregresio-kurba esponentzialen motorra</description>
				<description xml:lang="fi">Eksponentiaalisen regressiokäyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbe de régression exponentielle</description>
				<description xml:lang="it">Motore curva regressione esponenziale</description>
				<description xml:lang="sl">Programnik izrisa potenčnih regresijskih krivulj</description>
				<description xml:lang="vi">Cơ chế đường cong hồi quy số mũ</description>
				<description xml:lang="zh_CN">指数回归曲线引擎</description>
			</information>
		</service>
		<service type="trendline_engine" id="GogPowerRegCurve">
			<information>
				<description>Power regression curve engine</description>
				<description xml:lang="ast">Motor de curva de regresión potencial</description>
				<description xml:lang="ca">Motor de corba de regressió potencial</description>
				<description xml:lang="ca@valencia">Motor de corba de regressió potencial</description>
				<description xml:lang="cs">Výpočet mocninné regresní křivky</description>
				<description xml:lang="da">Potensregressionskurvemotor</description>
				<description xml:lang="de">Potenzielle Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Power regression curve engine</description>
				<description xml:lang="es">Motor de curvas de regresión en potencia</description>
				<description xml:lang="eu">Erregresio-kurba potentzialen motorra</description>
				<description xml:lang="fi">Potenssiregressiokäyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbes de régression puissance</description>
				<description xml:lang="sl">Programnik izrisa potenčne regresijske krivulje</description>
				<description xml:lang="vi">Cơ chế đường cong hồi quy lũy thừa</description>
			</information>
		</service>
		<service type="trendline_engine" id="GogLogRegCurve">
			<information>
				<description>Logarithmic regression curve engine</description>
				<description xml:lang="ast">Motor de curva de regresión logarítmica</description>
				<description xml:lang="ca">Motor de corba de regressió logarítmica</description>
				<description xml:lang="ca@valencia">Motor de corba de regressió logarítmica</description>
				<description xml:lang="cs">Výpočet logaritmické regresní křivky</description>
				<description xml:lang="da">Logaritmisk regressionskurvemotor</description>
				<description xml:lang="de">Logarithmische Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Logarithmic regression curve engine</description>
				<description xml:lang="es">Motor de curvas de regresión logarítmicas</description>
				<description xml:lang="eu">Erregresio-kurba logaritmikoen motorra</description>
				<description xml:lang="fi">Logaritmiregressiokäyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbe de régression logarithmique</description>
				<description xml:lang="it">Motore curva regressione logaritmica</description>
				<description xml:lang="sl">Programnik izrisa logaritemske regresijske krivulje</description>
				<description xml:lang="vi">Cơ chế đường cong hồi quy lôga</description>
				<description xml:lang="zh_CN">对数回归曲线引擎</description>
			</information>
		</service>
		<service type="trendline_engine" id="GogPolynomRegCurve">
			<information>
				<description>Polynomial regression curve engine</description>
				<description xml:lang="ast">Motor de curva de regresión polinómica</description>
				<description xml:lang="ca">Motor de corba de regressió polinòmica</description>
				<description xml:lang="ca@valencia">Motor de corba de regressió polinòmica</description>
				<description xml:lang="cs">Výpočet polynomické regresní křivky</description>
				<description xml:lang="da">Polynomisk regressionskurvemotor</description>
				<description xml:lang="de">Polynomiale Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Polynomial regression curve engine</description>
				<description xml:lang="es">Motor de curvas de regresión polinómicas</description>
				<description xml:lang="eu">Erregresio-kurba polinomialen motorra</description>
				<description xml:lang="fi">Polynomiregressiokäyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbe de régression exponentielle</description>
				<description xml:lang="it">Motore curva regressione polinomiale</description>
				<description xml:lang="sl">Programnik izrisa polinomske regresijske krivulje</description>
				<description xml:lang="vi">Cơ chế đường cong hồi quy đa thức</description>
				<description xml:lang="zh_CN">多项式回归曲线引擎</description>
			</information>
		</service>
		<service type="trendline_type" id="linreg">
			<file>reg-types.xml</file>
			<information>
				<description>Linear regression curves types</description>
				<description xml:lang="ast">Tribes de curves de regresión llinial</description>
				<description xml:lang="ca">Tipus de corbes de regressió lineal</description>
				<description xml:lang="ca@valencia">Tipus de corbes de regressió lineal</description>
				<description xml:lang="cs">Typy lineárních regresních křivek</description>
				<description xml:lang="da">Lineære regressionskurvetyper</description>
				<description xml:lang="de">Lineare Regressionskurven-Typen</description>
				<description xml:lang="en_GB">Linear regression curves types</description>
				<description xml:lang="es">Tipos de curvas de regresión lineal</description>
				<description xml:lang="eu">Erregresio-kurba lineal motak</description>
				<description xml:lang="fi">Lineaariset regressiokäyrätyypit</description>
				<description xml:lang="fr">Types de courbes de régressions linéaires</description>
				<description xml:lang="it">Tipi di curve regressione lineare</description>
				<description xml:lang="sl">Vrste črtnih regresijskih krivulj</description>
				<description xml:lang="vi">Kiểu đường cong hồi quy tuyến</description>
				<description xml:lang="zh_CN">线性回归曲线类型</description>
			</information>
		</service>
	</services>
</plugin>