<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_smoothing">
	<information>
		<name>Charting : Trends and Curves</name>
		<name xml:lang="ast">Gráficu: Tendencies y curves</name>
		<name xml:lang="cs">Sestavování grafů: trendy a křivky</name>
		<name xml:lang="da">Diagram : Tendenser og kurver</name>
		<name xml:lang="de">Diagrammdarstellung : Trends und Kurven</name>
		<name xml:lang="en_GB">Charting : Trends and Curves</name>
		<name xml:lang="es">Gráfico: Tendencias y curvas</name>
		<name xml:lang="eu">Diagramak : joerak eta kurbak</name>
		<name xml:lang="fi">Piirto: trendiviivat ja käyrät</name>
		<name xml:lang="fr">Graphe : tendances et courbes</name>
		<name xml:lang="sl">Diagrami: trendi in krivulje</name>
		<description>Smoothed curves</description>
		<description xml:lang="ast">Curves alisaes</description>
		<description xml:lang="ca">Corbes suaus</description>
		<description xml:lang="ca@valencia">Corbes suaus</description>
		<description xml:lang="cs">Vyhlazené křivky</description>
		<description xml:lang="da">Udglattede kurver</description>
		<description xml:lang="de">Geglättete Kurven</description>
		<description xml:lang="en_GB">Smoothed curves</description>
		<description xml:lang="es">Curvas suavizadas</description>
		<description xml:lang="eu">Kurba leunduak</description>
		<description xml:lang="fi">Tasoitetut käyrät</description>
		<description xml:lang="fr">Courbes lissées</description>
		<description xml:lang="nb">Utjevnede kurver</description>
		<description xml:lang="ru">Сглаженные кривые</description>
		<description xml:lang="sl">Glajene krivulje</description>
		<description xml:lang="vi">Đường cong mịn</description>
		<description xml:lang="zh_CN">平滑过的曲线</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="smoothing" name="module_file"/>
	</loader>
	<services>
		<service type="trendline_engine" id="GogMovingAvg">
			<information>
				<description>Moving average smoothing engine</description>
				<description xml:lang="ast">Motor de suavizáu de media móvil</description>
				<description xml:lang="ca">Motor de suavitzat del desplaçament mitjà</description>
				<description xml:lang="ca@valencia">Motor de suavitzat del desplaçament mitjà</description>
				<description xml:lang="cs">Výpočet vyhlazení klouzavým průměrem</description>
				<description xml:lang="da">Løbende gennemsnitlig udglattet motor</description>
				<description xml:lang="de">Engine für den gleitenden Mittelwert</description>
				<description xml:lang="en_GB">Moving average smoothing engine</description>
				<description xml:lang="es">Moviendo la media del motor de suavizado</description>
				<description xml:lang="eu">Batezbesteko mugikorra leuntzeko motorra</description>
				<description xml:lang="fi">Liukuvin keskiarvoin tasoittamisen ohjelma</description>
				<description xml:lang="fr">Moteur de lissage moyenne mobile</description>
				<description xml:lang="sl">Programnik glajenja premikajoče povprečne vrednosti</description>
				<description xml:lang="vi">Cơ chế làm mịn trung bình động</description>
				<description xml:lang="zh_CN">移动平均平滑引擎</description>
			</information>
		</service>
		<service type="trendline_engine" id="GogExpSmooth">
			<information>
				<description>exponential smoothing engine</description>
				<description xml:lang="ast">motor d'alisáu esponencial</description>
				<description xml:lang="ca">motor de suavitat exponencial</description>
				<description xml:lang="ca@valencia">motor de suavitat exponencial</description>
				<description xml:lang="cs">Výpočet exponenciálního vyhlazení</description>
				<description xml:lang="da">eksponentiel udglattelsesmotor</description>
				<description xml:lang="de">Exponentielle Glättungs-Engine</description>
				<description xml:lang="en_GB">exponential smoothing engine</description>
				<description xml:lang="es">motor de suavizado exponencial</description>
				<description xml:lang="eu">esponentzialki leuntzeko motorra</description>
				<description xml:lang="fi">Eksponentiaalisen tasoituksen ohjelma</description>
				<description xml:lang="fr">Moteur de lissage exponentiel</description>
				<description xml:lang="lt">eksponentinio glotninimo sistema</description>
				<description xml:lang="sl">programnik potenčnega glajenja</description>
				<description xml:lang="vi">cơ chế lam mịn theo mũ</description>
				<description xml:lang="zh_CN">指数平滑引擎</description>
			</information>
		</service>
		<service type="trendline_type" id="smoothing">
			<file>types.xml</file>
			<information>
				<description>Smoothed curves types</description>
				<description xml:lang="ast">Tribes de curves alisaes</description>
				<description xml:lang="ca">Tipus de corbes suaus</description>
				<description xml:lang="ca@valencia">Tipus de corbes suaus</description>
				<description xml:lang="cs">Typy vyhlazených křivek</description>
				<description xml:lang="da">Udglattede kurvetyper</description>
				<description xml:lang="de">Arten geglätteter Kurven</description>
				<description xml:lang="en_GB">Smoothed curves types</description>
				<description xml:lang="es">Tipos de curvas suavizadas</description>
				<description xml:lang="eu">Kurba leundu motak</description>
				<description xml:lang="fi">Tasoitettujen käyrien tyypit</description>
				<description xml:lang="fr">Types de courbes lissées</description>
				<description xml:lang="ru">Типы сглаженных кривых</description>
				<description xml:lang="sl">Vrste glajenih krivulj</description>
				<description xml:lang="vi">Kiểu đường cong mịn</description>
				<description xml:lang="zh_CN">平滑曲线类型</description>
			</information>
		</service>
	</services>
</plugin>