<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_plot_radar">
	<information>
		<name>Charting : Polar/Radar</name>
		<name xml:lang="ast">Diagrama: Polar/Radar</name>
		<name xml:lang="ca">Gràfic: polar/radar</name>
		<name xml:lang="ca@valencia">Gràfic: polar/radar</name>
		<name xml:lang="cs">Sestavování grafů : polární/radarové</name>
		<name xml:lang="da">Diagrammer : Polær/radar</name>
		<name xml:lang="de">Diagrammdarstellung : Polar/Radar</name>
		<name xml:lang="en_GB">Charting : Polar/Radar</name>
		<name xml:lang="es">Gráfico: Polar/Radar</name>
		<name xml:lang="eu">Diagramak : Polarra/Erradiala</name>
		<name xml:lang="fi">Piirto: napa/verkko</name>
		<name xml:lang="fr">Graphe : Polaire/Radar</name>
		<name xml:lang="it">Grafici: polare/rete</name>
		<name xml:lang="ja">グラフ: 極座標/レーダー</name>
		<name xml:lang="sl">Diagrami: spiralni/mrežni</name>
		<name xml:lang="vi">Vẽ đồ thị: Cực/Ra đa</name>
		<name xml:lang="zh_CN">制图：极线/放射</name>
		<description>Polar and Radar plots</description>
		<description xml:lang="ast">Diagrama polar y de radar</description>
		<description xml:lang="ca">Traçats polars i de radar</description>
		<description xml:lang="ca@valencia">Traçats polars i de radar</description>
		<description xml:lang="cs">Polární a radarové diagramy</description>
		<description xml:lang="da">Polær- og radarplot</description>
		<description xml:lang="de">Polar- und Radardiagramm</description>
		<description xml:lang="en_GB">Polar and Radar plots</description>
		<description xml:lang="es">Dibujos polar y de radar</description>
		<description xml:lang="eu">Diagrama polar eta erradialak</description>
		<description xml:lang="fi">Napa- ja verkkokuvaajat</description>
		<description xml:lang="fr">Tracés polaires et en radar.</description>
		<description xml:lang="it">Tracciati polari e rete</description>
		<description xml:lang="sl">Spiralni in mrežni diagrami</description>
		<description xml:lang="vi">Đồ thị vẽ Cực và Ra đa</description>
		<description xml:lang="zh_CN">极线和放射图</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="radar" name="module_file"/>
	</loader>
	<services>
		<service type="plot_engine" id="GogRadarPlot">
			<information>
				<description>Radar plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de radares</description>
				<description xml:lang="ca">Motor de traçador de radar</description>
				<description xml:lang="ca@valencia">Motor de traçador de radar</description>
				<description xml:lang="cs">Generování radarových diagramů</description>
				<description xml:lang="da">Radarplotningsmotor</description>
				<description xml:lang="de">Radargraph-Engine</description>
				<description xml:lang="en_CA">Radar plotting engine</description>
				<description xml:lang="en_GB">Radar plotting engine</description>
				<description xml:lang="es">Motor de dibujo de radares</description>
				<description xml:lang="eu">Erradialak marrazteko motorra</description>
				<description xml:lang="fi">Verkkopiirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de radar</description>
				<description xml:lang="it">Motore tracciati rete</description>
				<description xml:lang="ja">レーダーグラフプロットエンジン</description>
				<description xml:lang="nl">Radar plot-motor</description>
				<description xml:lang="pt_BR">Mecanismo de plotar gráficos de Radar</description>
				<description xml:lang="sl">Programnik izrisa mrežnega diagrama</description>
				<description xml:lang="sv">Radardiagramsritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ ra đa</description>
				<description xml:lang="zh_CN">放射绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogRadarAreaPlot">
			<information>
				<description>Radar Area plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu d'estayes de radar</description>
				<description xml:lang="ca">Motor de traçador d'àrees de radar</description>
				<description xml:lang="ca@valencia">Motor de traçador d'àrees de radar</description>
				<description xml:lang="cs">Generování plošných radarových diagramů</description>
				<description xml:lang="da">Plotningsmotor for radarområde</description>
				<description xml:lang="de">Radarflächengraph-Engine</description>
				<description xml:lang="en_CA">Radar Area plotting engine</description>
				<description xml:lang="en_GB">Radar Area plotting engine</description>
				<description xml:lang="es">Motor de dibujo de áreas de radar</description>
				<description xml:lang="eu">Area-diagrama erradialak marrazteko motorra</description>
				<description xml:lang="fi">Verkkoaluepiirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de radar surfacique</description>
				<description xml:lang="it">Motore traciati rete area</description>
				<description xml:lang="nl">Radargebied plot-motor</description>
				<description xml:lang="pt_BR">Mecanismo de plotagem de gráficos de Radar de Área</description>
				<description xml:lang="sl">Programnik izrisa mrežnega površinskega diagrama</description>
				<description xml:lang="sv">Ytradardiagramsritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ vùng ra đa</description>
				<description xml:lang="zh_CN">放射区绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogPolarPlot">
			<information>
				<description>Polar plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu polar</description>
				<description xml:lang="ca">Motor de traçador polar</description>
				<description xml:lang="ca@valencia">Motor de traçador polar</description>
				<description xml:lang="cs">Generování polárních diagramů</description>
				<description xml:lang="da">Polærplotningsmotor</description>
				<description xml:lang="de">Polargraph-Engine</description>
				<description xml:lang="en_GB">Polar plotting engine</description>
				<description xml:lang="es">Motor de dibujo polar</description>
				<description xml:lang="eu">Polarrak marrazteko motorra</description>
				<description xml:lang="fi">Napakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin polaire</description>
				<description xml:lang="it">Motore tracciati polari</description>
				<description xml:lang="ja">極座標グラフプロットエンジン</description>
				<description xml:lang="sl">Programnik izrisa spiralnih diagramov</description>
				<description xml:lang="vi">Cơ chế vẽ cực</description>
				<description xml:lang="zh_CN">极线绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogColorPolarPlot">
			<information>
				<description>Polar plotting engine with colored marks</description>
				<description xml:lang="ast">Motor de dibuxu polar con marques coloreaes</description>
				<description xml:lang="cs">Generování polárních diagramů s barevnými značkami</description>
				<description xml:lang="da">Polærplotningsmotor med farvede mærker</description>
				<description xml:lang="de">Polargraph-Engine mit farbigen Markierungen</description>
				<description xml:lang="en_GB">Polar plotting engine with coloured marks</description>
				<description xml:lang="es">Motor de dibujo polar con marcas coloreadas</description>
				<description xml:lang="eu">Diagrama polarrak marrazteko motorra marka koloredunekin.</description>
				<description xml:lang="fi">Napakuvaajan piirto-ohjelma värimerkein</description>
				<description xml:lang="fr">Moteur de dessin polaire avec des marques colorées</description>
				<description xml:lang="sl">Programnik izrisa spiralnega diagrama z barvnimi oznakami</description>
			</information>
		</service>
		<service type="plot_type" id="radar">
			<file>plot-types.xml</file>
			<information>
				<description>Default radar plot types</description>
				<description xml:lang="ast">Tribes de gráfiques de radar preestablecíes</description>
				<description xml:lang="ca">Tipus de traçat de radar per defecte</description>
				<description xml:lang="ca@valencia">Tipus de traçat de radar per defecte</description>
				<description xml:lang="cs">Výchozí typy radarových diagramů</description>
				<description xml:lang="da">Standardtyper for radarplot</description>
				<description xml:lang="de">Vorgabe-Radargraphtypen</description>
				<description xml:lang="en_CA">Default radar plot types</description>
				<description xml:lang="en_GB">Default radar plot types</description>
				<description xml:lang="es">Tipos de gráficas de radar preestablecidas</description>
				<description xml:lang="eu">Diagrama erradial mota lehenetsiak</description>
				<description xml:lang="fi">Verkkokuvaajien oletustyypit</description>
				<description xml:lang="fr">Type de dessin polaire/radar par défaut</description>
				<description xml:lang="it">Tipi predefiniti grafici rete</description>
				<description xml:lang="ja">デフォルトのレーダーグラフ形式</description>
				<description xml:lang="nl">Standaard radargrafiek-types</description>
				<description xml:lang="pt_BR">Tipos padrão de gráfico de radar</description>
				<description xml:lang="sl">Privzete vrste mrežnih diagramov</description>
				<description xml:lang="sv">Standard radargraftyper</description>
				<description xml:lang="vi">Kiểu đồ thị vẽ ra đa mặc định</description>
				<description xml:lang="zh_CN">默认放射图类型</description>
			</information>
		</service>
	</services>
</plugin>