<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_plot_barcol">
	<information>
		<name>Charting : Bar/Col/Line/Area</name>
		<name xml:lang="ast">Diagrama: Bar/Col/Llinia/Estaya</name>
		<name xml:lang="ca">Gràfic : barra/columna/línia/àrea</name>
		<name xml:lang="ca@valencia">Gràfic : barra/columna/línia/àrea</name>
		<name xml:lang="cs">Sestavování grafů: pruhové/sloupcové/čárové/plošné</name>
		<name xml:lang="da">Diagrammer : Bjæ/kol/lj/område</name>
		<name xml:lang="de">Diagrammdartellung : Balken/Säulen/Linien/Flächen</name>
		<name xml:lang="en_CA">Charting : Bar/Col/Line/Area</name>
		<name xml:lang="en_GB">Charting : Bar/Col/Line/Area</name>
		<name xml:lang="es">Diagrama: Bar/Col/Linea/Área</name>
		<name xml:lang="eu">Diagramak : Barrak/Zutabeak/Marrak/Area</name>
		<name xml:lang="fi">Piirto: palkki/pylväs/viiva/alue</name>
		<name xml:lang="fr">Graphes : barres/colonnes/courbes/surfaces</name>
		<name xml:lang="it">Grafici a barra/colonna/linea/area</name>
		<name xml:lang="ja">グラフ: 棒/列/行/エリア</name>
		<name xml:lang="nl">Grafiek maken: balk/kolom/lijn/gebied</name>
		<name xml:lang="pt_BR">Gráficos: Barra/Col/Linha/Área</name>
		<name xml:lang="sl">Diagrami: vrstični/stolpični/črtni/ploščinski</name>
		<name xml:lang="sv">Grafritning : Stapel/Kolumn/Linje/Yta</name>
		<name xml:lang="vi">Vẽ đồ thị: Thanh/Cột/Đường/Vùng</name>
		<name xml:lang="zh_CN">图表：条/色/线/区</name>
		<description>Line, Area, Bar and Column plots</description>
		<description xml:lang="ast">Diagrames de llinia, estaya, barres y columnes</description>
		<description xml:lang="ca">Traçats de línia, d'àrees, de barres i de columnes.</description>
		<description xml:lang="ca@valencia">Traçats de línia, d'àrees, de barres i de columnes.</description>
		<description xml:lang="cs">Čárové, plošné, pruhové a sloupcové diagramy</description>
		<description xml:lang="da">Linje-, område-, bjælke- og kolonneplotninger</description>
		<description xml:lang="de">Linien-, Flächen-, Balken- und Säulengraphen</description>
		<description xml:lang="en_CA">Line, Area, Bar and Column plots</description>
		<description xml:lang="en_GB">Line, Area, Bar and Column plots</description>
		<description xml:lang="es">Diagramas de línea, área, barras y columnas</description>
		<description xml:lang="eu">Marra-, area-, barra- eta zutabe-diagramak</description>
		<description xml:lang="fi">Viiva-, alue-, palkki- ja pylväskuvaajat</description>
		<description xml:lang="fr">Tracés de courbes, surfaces, barres et colonnes</description>
		<description xml:lang="it">Tracciati di tipo linea, area, barra e colonna</description>
		<description xml:lang="ja">線、エリア、棒、列でプロットします</description>
		<description xml:lang="nb">Linje-, område-, søyle- og kolonneplott</description>
		<description xml:lang="nl">Lijn, gebied, balk en kolom-diagrammen</description>
		<description xml:lang="pt_BR">Gráficos de Linha, Área, Barra e Coluna</description>
		<description xml:lang="sl">Črtni, ploščinski, palični in stolpični diagrami</description>
		<description xml:lang="sv">Linje, area, stapel och kolumngrafer</description>
		<description xml:lang="vi">Đồ thị vẽ Đường, Vùng, Thanh và Cột</description>
		<description xml:lang="zh_CN">线，区，条和列绘图</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="barcol" name="module_file"/>
	</loader>
	<services>
		<service type="plot_engine" id="GogLinePlot">
			<information>
				<description>Line plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de llinies</description>
				<description xml:lang="ca">Motor de traçador de línia</description>
				<description xml:lang="ca@valencia">Motor de traçador de línia</description>
				<description xml:lang="cs">Generování čárových diagramů</description>
				<description xml:lang="da">Linjeplotningsmotor</description>
				<description xml:lang="de">Liniengraph-Engine</description>
				<description xml:lang="en_CA">Line plotting engine</description>
				<description xml:lang="en_GB">Line plotting engine</description>
				<description xml:lang="es">Motor de dibujo de líneas</description>
				<description xml:lang="eu">Marrak marrazteko motorra</description>
				<description xml:lang="fi">Viivakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de courbes</description>
				<description xml:lang="hr">Sustav za iscrtavanje linija</description>
				<description xml:lang="it">Motore tracciati linea</description>
				<description xml:lang="ja">線プロットエンジン</description>
				<description xml:lang="lt">Linijų braižymo sistema</description>
				<description xml:lang="nl">Lijn plotmodule</description>
				<description xml:lang="pl">Mechanizm rysowania linii</description>
				<description xml:lang="pt">Motor gráficos linhas</description>
				<description xml:lang="pt_BR">Ferramenta de plotagem de linha</description>
				<description xml:lang="sk">Nástroj na kreslenie čiarových grafov</description>
				<description xml:lang="sl">Programnik izrisovanja črtnih diagramov in grafov</description>
				<description xml:lang="sr">Систем за исцртавање линија</description>
				<description xml:lang="sr@latin">Sistem za iscrtavanje linija</description>
				<description xml:lang="sv">Linjediagramsritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ đường</description>
				<description xml:lang="zh_CN">线绘图引擎</description>
				<description xml:lang="zh_HK">線條繪製引擎</description>
				<description xml:lang="zh_TW">線條繪製引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogAreaPlot">
			<information>
				<description>Area plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu d'estayes</description>
				<description xml:lang="ca">Motor de traçador d'àrees</description>
				<description xml:lang="ca@valencia">Motor de traçador d'àrees</description>
				<description xml:lang="cs">Generování plošných grafů</description>
				<description xml:lang="da">Plotningsmotor for område</description>
				<description xml:lang="de">Flächengraph-Engine</description>
				<description xml:lang="en_CA">Area plotting engine</description>
				<description xml:lang="en_GB">Area plotting engine</description>
				<description xml:lang="es">Motor de dibujo de áreas</description>
				<description xml:lang="eu">Areak marrazteko motorra</description>
				<description xml:lang="fi">Aluepiirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de surfaces</description>
				<description xml:lang="hr">Sistem za iscrtavanje područja.</description>
				<description xml:lang="it">Motore tracciati area</description>
				<description xml:lang="ja">エリアプロットエンジン</description>
				<description xml:lang="nb">Motor for områdeplott</description>
				<description xml:lang="nl">Gebiedsplot-module</description>
				<description xml:lang="pt">Motor gráficos área</description>
				<description xml:lang="pt_BR">Ferramenta de plotagem de área</description>
				<description xml:lang="sk">Nástroj pre kreslenie oblastí</description>
				<description xml:lang="sl">Programnik izrisovanja površin diagramov</description>
				<description xml:lang="sr">Систем за исцртавање области</description>
				<description xml:lang="sr@latin">Sistem za iscrtavanje oblasti</description>
				<description xml:lang="sv">Cirkeldiagramsritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ vùng</description>
				<description xml:lang="zh_CN">区域绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogBarColPlot">
			<information>
				<description>Bar/Col plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu de barres/columnes</description>
				<description xml:lang="ca">Motor de traçador de bar/col</description>
				<description xml:lang="ca@valencia">Motor de traçador de bar/col</description>
				<description xml:lang="cs">Generování pruhových a sloupcových diagramů</description>
				<description xml:lang="da">Bjæ/kol-plotningsmotor</description>
				<description xml:lang="de">Balken-/Säulengraph-Engine</description>
				<description xml:lang="en_CA">Bar/Col plotting engine</description>
				<description xml:lang="en_GB">Bar/Col plotting engine</description>
				<description xml:lang="es">Motor de dibujo de barras/columnas</description>
				<description xml:lang="eu">Barrak/Zutabeak marrazteko motorra</description>
				<description xml:lang="fi">Palkki/pylväs-piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin barres/colonnes</description>
				<description xml:lang="hr">Sistem za iscrtavanje traka/kolona</description>
				<description xml:lang="it">Motore tracciati barra/colonna</description>
				<description xml:lang="ja">棒/列プロットエンジン</description>
				<description xml:lang="nl">Balk/kolom plotmodule</description>
				<description xml:lang="pt">Motor de gráficos Barras/Colunas</description>
				<description xml:lang="pt_BR">Ferramenta de plotagem de Bar/Col</description>
				<description xml:lang="sk">Nástroj na kreslenie pruhov</description>
				<description xml:lang="sl">Programnik izrisovanja paličnih in stolpičnih diagramov</description>
				<description xml:lang="sr">Систем за исцртавање трака/колона</description>
				<description xml:lang="sr@latin">Sistem za iscrtavanje traka/kolona</description>
				<description xml:lang="sv">Stapel/kolumn ritmotor</description>
				<description xml:lang="vi">Cơ chế vẽ thanh/cột</description>
				<description xml:lang="zh_CN">条/色绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogDropBarPlot">
			<information>
				<description>Drop Bar/Col plotting engine</description>
				<description xml:lang="ast">Motor de dibuxáu de barres/columnes eslizantes</description>
				<description xml:lang="ca">Motor de traçador de barres/columnes lliscants</description>
				<description xml:lang="ca@valencia">Motor de traçador de barres/columnes lliscants</description>
				<description xml:lang="cs">Generování objemových diagramů</description>
				<description xml:lang="da">Slipbjælke/-kolonneplotningsmotor</description>
				<description xml:lang="de">Bezugsbalken-/Säulengraph-Engine</description>
				<description xml:lang="en_GB">Drop Bar/Col plotting engine</description>
				<description xml:lang="es">Motor de dibujado de barras/columnas deslizantes</description>
				<description xml:lang="eu">Lotura-barrak/Zutabeak marrazteko motorra</description>
				<description xml:lang="fi">Kelluvien palkkien/pylväiden piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin de colonnes/barres de projection</description>
				<description xml:lang="sl">Programnik izrisovanja vretenastih diagramov</description>
				<description xml:lang="vi">Cơ chế tạo thanh/cột thả</description>
				<description xml:lang="zh_CN">下拉 条/列绘图引擎</description>
			</information>
		</service>
		<service type="plot_engine" id="GogMinMaxPlot">
			<information>
				<description>Min Max plotting engine</description>
				<description xml:lang="ast">Motor de dibuxu min máx</description>
				<description xml:lang="ca">Motor de traçador de màxims i mínims</description>
				<description xml:lang="ca@valencia">Motor de traçador de màxims i mínims</description>
				<description xml:lang="cs">Generování diagramů Min Max</description>
				<description xml:lang="da">Min-/maksplotningsmotor</description>
				<description xml:lang="de">Minimum-Maximum-Graph-Engine</description>
				<description xml:lang="en_GB">Min Max plotting engine</description>
				<description xml:lang="es">Motor de dibujado mín. máx.</description>
				<description xml:lang="eu">Min max marrazteko motorra</description>
				<description xml:lang="fi">Janakuvaajan piirto-ohjelma</description>
				<description xml:lang="fr">Moteur de dessin min-max</description>
				<description xml:lang="it">Motore tracciati minimo massimo</description>
				<description xml:lang="sl">Programnik izrisovanja razponskih diagramov</description>
				<description xml:lang="vi">Cơ chế vẽ đồ thị Cực Đại</description>
				<description xml:lang="zh_CN">最小最大绘图引擎</description>
			</information>
		</service>
		<service type="plot_type" id="1.5d">
			<file>plot-types.xml</file>
			<information>
				<description>Default 1.5d plot types</description>
				<description xml:lang="ast">Tribes de gráfiques preestablecíes pa 1.5d</description>
				<description xml:lang="ca">Tipus de traçat 1.5d per defecte</description>
				<description xml:lang="ca@valencia">Tipus de traçat 1.5d per defecte</description>
				<description xml:lang="cs">Výchozí typy diagramů 1.5d</description>
				<description xml:lang="da">Standard 1,5d plottyper</description>
				<description xml:lang="de">1.5d-Vorgabediagrammtypen</description>
				<description xml:lang="en_CA">Default 1.5d plot types</description>
				<description xml:lang="en_GB">Default 1.5d plot types</description>
				<description xml:lang="es">Tipos de gráficas preestablecidas para 1.5d</description>
				<description xml:lang="eu">1.5d diagrama mota lehenetsiak</description>
				<description xml:lang="fi">Puolitoistaulotteisten kuvaajien oletustyypit</description>
				<description xml:lang="fr">Types de dessin 1.5d par défaut</description>
				<description xml:lang="hr">Vrste uobičajenog 1.5d crtanja</description>
				<description xml:lang="it">Tipi predefiniti di tracciati 1.5d</description>
				<description xml:lang="ja">デフォルト 1.5d プロットタイプ</description>
				<description xml:lang="nb">Forvalgte typer 1.5d plott</description>
				<description xml:lang="nl">Standaard 1.5d plot-types</description>
				<description xml:lang="pl">Domyślne typy wykresu 1.5d</description>
				<description xml:lang="pt">Tipos de gráficos 1.5d por omissão</description>
				<description xml:lang="pt_BR">Tipos de Gráficos de 1.5d padrão</description>
				<description xml:lang="sk">Štandardné typy 1.5d</description>
				<description xml:lang="sl">Privzete 1.5d vrste diagramov</description>
				<description xml:lang="sr">Подразумеване врсте 1,5D исцртавања</description>
				<description xml:lang="sr@latin">Podrazumevane vrste 1,5D iscrtavanja</description>
				<description xml:lang="sv">Standard 1.5d-graftyper</description>
				<description xml:lang="vi">Kiểu đồ thị vẽ 1,5d mặc định</description>
				<description xml:lang="zh_CN">默认  1.5d 图类型</description>
				<description xml:lang="zh_HK">預設 1.5d 繪製類型</description>
				<description xml:lang="zh_TW">預設 1.5d 繪製類型</description>
			</information>
		</service>
	</services>
</plugin>