<?xml version="1.0" encoding="UTF-8"?>
<plugin id="GOffice_reg_logfit">
	<information>
		<name>Regression curve : logfit</name>
		<name xml:lang="ast">Curva de regresión : axuste log</name>
		<name xml:lang="ca">Corba de regressió: logfit</name>
		<name xml:lang="ca@valencia">Corba de regressió: logfit</name>
		<name xml:lang="cs">Regresní křivka: logaritmické přizpůsobení</name>
		<name xml:lang="da">Regressionskurve : logtilpasning</name>
		<name xml:lang="de">Regressionskurve : logfit</name>
		<name xml:lang="en_GB">Regression curve : logfit</name>
		<name xml:lang="es">Curva de regresión: ajustado logarítmico</name>
		<name xml:lang="eu">Erregresio-kurba: doitze logaritmikoa</name>
		<name xml:lang="fi">Regressiokäyrä : logaritminen sovitus</name>
		<name xml:lang="fr">Courbe de régression : ajustement logarithmique</name>
		<name xml:lang="sl">Regresijska krivulja: logaritemsko prilagajanje</name>
		<name xml:lang="vi">Đường cong hồi quy: vừa lôga</name>
		<name xml:lang="zh_CN">回归曲线：logfit</name>
		<description>Logarithmic fitting curves</description>
		<description xml:lang="ast">Curves d'axuste logarítmicu</description>
		<description xml:lang="ca">Corbes de correspondència logarítmica</description>
		<description xml:lang="ca@valencia">Corbes de correspondència logarítmica</description>
		<description xml:lang="cs">Přizpůsobené logaritmické křivky</description>
		<description xml:lang="da">Logaritmiske tilpasningskurver</description>
		<description xml:lang="de">Logarithmische nichtlineare Regressionskurven</description>
		<description xml:lang="en_GB">Logarithmic fitting curves</description>
		<description xml:lang="es">Curvas de ajustado logarítmico</description>
		<description xml:lang="eu">Doitze logaritmikoko kurbak</description>
		<description xml:lang="fi">Logaritmisesti sovitetut käyrät</description>
		<description xml:lang="fr">Courbes d'ajustement logarithmique</description>
		<description xml:lang="sl">Krivulje logaritemskega prileganja</description>
		<description xml:lang="vi">Đường cong vừa lôga</description>
		<description xml:lang="zh_CN">对数趋近曲线</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="logfit" name="module_file"/>
	</loader>
	<services>
		<service type="trendline_engine" id="GogLogFitCurve">
			<information>
				<description>Logarithmic fitting curve engine</description>
				<description xml:lang="ast">Motor de curva d'axuste logarítmicu</description>
				<description xml:lang="ca">Motor de corbes de correspondència logarítmica</description>
				<description xml:lang="ca@valencia">Motor de corbes de correspondència logarítmica</description>
				<description xml:lang="cs">Výpočet logaritmické křivky přizpůsobené metodou nejmenších čtverců</description>
				<description xml:lang="da">Logaritmisk tilpasningskurvemotor</description>
				<description xml:lang="de">Logarithmische nichtlineare Regressionskurven-Engine</description>
				<description xml:lang="en_GB">Logarithmic fitting curve engine</description>
				<description xml:lang="es">Motor de curvas de ajustado logarítmico</description>
				<description xml:lang="eu">Doitze logaritmikoko kurben motorra</description>
				<description xml:lang="fi">Logaritmisesti sovitetun käyrän ohjelma</description>
				<description xml:lang="fr">Moteur de courbe d'ajustement logarithmique</description>
				<description xml:lang="sl">Programnik izrisa krivulj logaritemskega prileganja</description>
				<description xml:lang="vi">Cơ chế đường cong vừa lôga</description>
				<description xml:lang="zh_CN">对数趋近曲线引擎</description>
			</information>
		</service>
		<service type="trendline_type" id="logfit">
			<file>reg-types.xml</file>
			<information>
				<description>Logarithmic fitting curves types</description>
				<description xml:lang="ast">Tribes de curves d'axuste logarítmicu</description>
				<description xml:lang="ca">Tipus de corbes de correspondència logarítmica</description>
				<description xml:lang="ca@valencia">Tipus de corbes de correspondència logarítmica</description>
				<description xml:lang="cs">Typy přizpůsobené logaritmické křivky</description>
				<description xml:lang="da">Logaritmiske tilpasningskurvetyper</description>
				<description xml:lang="de">Logarithmische nichtlineare Regressionskurven-Typen</description>
				<description xml:lang="en_GB">Logarithmic fitting curves types</description>
				<description xml:lang="es">Tipos de curvas de ajustado logarítmico</description>
				<description xml:lang="eu">Doitze logaritmikoko kurba motak</description>
				<description xml:lang="fi">Logaritmisesti sovitetut käyrätyypit</description>
				<description xml:lang="fr">Types de courbes d'ajustement logarithmique</description>
				<description xml:lang="sl">Vrste krivulj logaritemskega prileganja</description>
				<description xml:lang="vi">Kiểu đường cong vừa lôga</description>
				<description xml:lang="zh_CN">对数趋近曲线类型</description>
			</information>
		</service>
	</services>
</plugin>